#map {
  width: 100vw;
  height: 80vh;
}

/* .event-marker {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid white;
  box-shadow: 0 0 6px rgba(0,0,0,0.3);
  transform: translate(-50%, -50%); /* center the marker on the coordinate */
} */

.mapboxgl-marker {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}
.event-marker {
    height: 20px;
    width: auto;
    object-fit: contain;
}
